<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="VisitorRegistration" connectionString="Data Source=OWSRV1;Initial Catalog=Visitor_Management_20151218;Persist Security Info=True;User ID=sa;Password=123"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false"/>
    </httpHandlers>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
      </buildProviders>
    </compilation>
    <httpRuntime/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <clear/>
        <add value="index.aspx"/>
      </files>
    </defaultDocument>
    <directoryBrowse enabled="false"/>
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <appSettings>
    <add key="TemplateForgetEmail" value="\Email Template\ForgetPassword.html"/>
    <add key="UserDetailEmailTemplate" value="\Email Template\UserDetailEmailTemplate.html"/>
    <add key="ChangeUserDetailEmailTemplate" value="\Email Template\ChangeUserDetailEmailTemplate.html"/>
    <add key="VisitorDetailEmailTemplate" value="\Email Template\VisitorDetailEmailTemplate.html"/>
    <add key="HostDetailEmailTemplate" value="\Email Template\HostDetailEmailTemplate.html"/>
    <add key="EmailFromAddress" value="visitormanagementtest@gmail.com"/>
    <add key="EmailDisplayName" value="Octaware Information Technologies"/>
    <add key="EmailPassword" value="Visit123"/>
    <add key="EmailHost" value="smtp.gmail.com"/>
    <add key="EmailPort" value="587"/>
    <add key="EmailSSL" value="true"/>
    <add key="EmailTimeOut" value="20000"/>



    <add key="AutoVisitNo" value="1"/>
    <!--1 mean generated by system 0 means generated by user-->
    <add key="AutoVisitNumberPrefix" value="V-"/>

    <add key="EmailTemplate" value="EmailTemplate.html"/>

    <add key="sendEmail" value="y"/>
    <!--y = yes, n = no-->
    <add key="EmailSubject" value="Visitor Registration Confirmation at Octaware"/>
    <add key="smtpIP" value="ow-db-srv.octaware.mum"/>
    <add key="fromAddress" value="administrator@test.octaware.com"/>
    <add key="fromName" value="Octaware Information Technologies"/>
    <add key="UserId" value="wajahat.husein@gmail.com"/>
    <add key="Password" value="Visit123"/>
    <add key="SenderID" value="TEST"/>
    <add key="randCode" value="randCode"/>
    <add key="receipientno" value="receipientno"/>
    <add key="SiteUrl" value="http://api.mVaayoo.com/mvaayooapi/MessageCompose?user=#userId#:#password#&amp;senderID=#senderID#"/>
  </appSettings>
</configuration>
